/** MATHFIELD CONFIG  **/
math-field::part(virtual-keyboard-toggle){
    display: none;
  }
math-field::part(menu-toggle){
    display: none;
  }
math-field::part(keyboard-sink){
    display: flex;
    justify-content: center;
    align-items: center;
}
math-field::part(container){
  display: flex;
  align-self: center;

}
math-field::part(content){
  width: 100%;
  height: 10px;
}
.MLK__backdrop{
  z-index: 999;
  background-color: black !important;
}
.ML__keyboard{
  z-index: 99;
}

/**  END MATHFIELD CONFIG  **/

/** ROOT **/
:root {
  --quiz-border-color: gray;
  --main-min-input-width: 10px;
  --main-max-input-width: 200px;
  --main-success-color:#89e219;
  --main-wrong-color: #ff4b4b;
  --main-button-check: #006ebb;
  --main-button-check-boder: #024d83;
  --main-button-reset:#899c;
  --main-button-reset-boder: rgba(94, 106, 106, 0.8);
}
/** END ROOT**/
/*** ARTIFACT***/
.quiz{

  width: 90%;
  margin: auto;
  padding: 10px;
  }
  .quiz_section{
    gap: 10px;
    margin-bottom: 1em;
  
  }
  .quiz_section--vertical{
    /* margin:auto; */
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    margin-bottom:1em 
    ;}
  
  .quiz_section--horizontal{
    display: flex;  
    flex-wrap: wrap;
  
    justify-content: space-around;
    /* flex-direction: row-reverse; */
     width: 100%;
  
  }
  
  .quiz_section--horizontal .QuestionElement {
    flex: 1;
    
    
  }

.QContainer_table .radioset__container{
 font-size: smaller;
}
.QContainer_table .radioset__container .input__radio {
  width: 40%;
  height: 100%;
 }
  @media (max-width: 999px) {
    td .quiz__default__input {
      margin:0.2em
  }
  }
  @media (max-width: 500px) {
    .quiz_section--horizontal{
      margin:auto;
      padding: 1em;
      flex-direction: column;
      display: flex;
      justify-content: center;
      margin-bottom:1em ;
      
  
      align-items: stretch; /* Para que los inputs ocupen todo el ancho */
    }
    td .quiz__default__input {
            margin:0
    }
  
    /* margin: 0.4em; */
  }
  
  .quiz__default__input--full .quiz__default__input{
  
    display: block;
  
    max-width:800px;
  
    /* max-width: 600px; */
    /* max-width: 100%;
    box-sizing: border-box; Esto asegura que el ancho incluya el padding y el borde */
  }
  
  .buttons{
      display: flex;
      justify-content: space-around;
  }
  .button{
      min-width: 15px;
      width: fit-content;
  }
  .button__validation{
      outline: none;
      transition:.07s;
      cursor:pointer;
      color:#fff;
      font-size: 100%;
      border-radius:10px;
      padding:10px 25px;
      text-align: center;
  
  }
  .button__validation--validate{
      width: 20%;
      font-size: 20pt;
      padding: 0px;
      border:2px solid var(--main-button-check-boder);
      border-bottom-width: 6px;
      background-color:var(--main-button-check);
  }
  .button__validation--reset{
      font-size: 20pt;
      padding: 0px;
      width: 20%;
  
      border:2px solid var(--main-button-reset-boder);
      border-bottom-width: 6px;
      background-color:var(  --main-button-reset);
  
   
  }
  .button:active{
      border-bottom-width: 2px;
      margin-top: 4px;
  }
  .QContainer{
      font-family: 'Nunito', sans-serif;
      font-size: small;
  
      min-width: 200px !important;
      max-width:520px ;
      width: 100% !important;
      outline: 0.2rem solid rgb(228, 226, 226) ;
      border-radius: 1rem;
  }
/***END ARTIFACT ***/






/** TABLES  **/
.QContainer_table{
  display: flex;
  justify-content: center;
  min-width: 100px;
  max-width: 800px;
  width: 100%;
  font-size: large;
}
.QContainer_table table{
  outline-color: rgb(123, 123, 123) ;
  outline: 1px solid rgb(125, 125, 125);
  border-radius: 10px ;
  overflow: hidden; 
  width: 90%;
}

.QContainer_table table td div {
  padding-top: 2px;
  padding-bottom: 2px;

}
.QContainer_table table td div{
  display: flex;
  width: 100%;
  justify-content: center;
}
td .quiz__default__input {
 max-height: 5em;
   max-width: 8em; 
  /* margin: 0.4em  */
  
}
.QContainer_table table th,.QContainer_table  td {
  border: 1px solid rgb(125, 125, 125);
  padding: 0px;
  max-width: 100%;
  padding: 5px;

  }
  .QContainer_table th{
    text-align: center;
    height: fit-content;
  }
  .QContainer_table th p {
    margin:0px 
  }
/** END TABLES **/






/*** INDIVIDUAL NODES ***/
.inline_text{
   word-wrap: break-word;
   overflow-wrap: break-word; 
  hyphens: auto; 
   white-space:initial

}
 .quiz__inlineDisplay  {
  display: flex; 
  flex-wrap: wrap;
  white-space: nowrap;
  width: fit-content;
  font-size: 0.8rem;
  gap:10px;
/* text-align:center; */
} 
.setOfNodes{
  display: flex;
  max-width: 100%;
  gap: 5px;
}
.quiz__inlineDisplay .setOfNodes >  .quiz__default__input{
  flex-grow: 1;
  flex-basis: 0;
}
.quiz__default__input {
  font-size: 0.9em;
    height: 50px;
    border-radius: 5px;
    border:none;
    padding: 0px;
    /* padding: 0 20px; */
    outline: solid 1px gray;
   /* outline: none; */
    min-width: var(--main-min-input-width);
    max-width: var(--main-max-input-width);
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 0.8rem;
    /* overflow: hidden;
align-items: center; */
  }
.quiz__default__select{
background-color: #fff;
} 
.quiz__default__input__math-field {

  padding: 0px;
  overflow:hidden ;

    min-width: var(--main-min-input-width);
    max-width: var(--main-max-input-width);
  
  }
.quiz__default__input__math-field--disabled{
  background-color: rgb(230, 230, 230);
}
.QContainer--langer{
  max-width:900px 
}
.QContainer_tittle{
    font-weight: bold;
  
    font-size: 24px;
    padding: 10px 10px 0 10px;;
  }
  .QContainer_footer{
   
  background: #ffffff;
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;
  
  }
.input__math-field--success{
background-color: var(--main-success-color) ;
}
.input__math-field--incorect{
  background-color: var(--main-wrong-color) ;
}
.input__radio{
  box-shadow: 0px 0px 0px 1px #6d6d6d;
  font-size: 1em;
  margin-right: 7px;
  border: 4px solid #fff;
  background-clip: border-box;
  border-radius: 50%;
  appearance: none;
}
.input__radio:checked {
  box-shadow: 0px 0px 0px 2px rgb(81, 81, 247);
  background-color:  rgb(81, 81, 247);
}
.input__radio--success{
  height: 1.5rem;
  width: 1.5rem;
  border: 5px solid var(--main-success-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: translateY(-2px);
}
.input__radio--incorect{
  border-color:  var(--main-wrong-color);
}
.validate{
  transform:scale(1.1);
}
.validate--pass{
border: 0.3em solid #7ac70c;

}
.validate--failed{
  border: 0.3em solid #c7280c;
}



.radioSet{
  font-size: smaller;
  display: flex;
  min-width: 20px;
  gap:0px
}

.radioset__container{
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

.radioset__container input[type="radio"]{
  cursor: pointer;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;

  background-color: #eee;
  border-radius: 50%;
  margin-top: 0.2em;
  /* margin-bottom: 1em; */
  vertical-align: middle;
  margin-left: 0.5em;
  margin-right:0.5em;

}












/*** END INDIVIDUAL NODES ***/


/*** MODAL**/
  .modal {
     display: flex; 
    flex-wrap:wrap;

    top: 50%; 
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    align-content: center;


  }
  .modal_header{
    margin: 15px;
    text-align: center;
    width: 100%;
    height: fit-content;
    
  }
  .modal_header p{
    padding: 0;
    margin: 0;
  }
  .modal_question{
 width: 100%;
    border-radius: 10px;
 
  }


   .modal_question .QuestionElement{
    width: 100%;
  }

.modal-container {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    z-index: 99;
    overflow: hidden;
    display: none;
}

/* .modal .QuestionElement{
  width: 100px;
} */
/***END  MODAL**/





/**** MEDIA QUERIES GENERALES****/
@media (max-width: 280px) {
  .QContainer_table .quiz__default__input__math-field{ 
    width: 30px;
  }
  .QContainer_table .quiz__default__input{
    max-width:30px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .QContainer_table .quiz__default__input__math-field, .QContainer_table { 
    max-width: 50px;
    width: 50px;
  }

}
@media (min-width: 320px) and (max-width: 425px) {
  .QContainer_table .quiz__default__input__math-field { 
    max-width:60px;

  }
  .QContainer_table .quiz__default__input{
    max-width:60px;
  }

}
@media (min-width: 425px) and (max-width: 768px) {
  .QContainer_table .quiz__default__input__math-field { 
    max-width: 90px;

  }
  .QContainer_table .quiz__default__input{
    max-width:90px;
  }

}
@media (min-width: 768px) and (max-width: 891px) {
  .QContainer_table .quiz__default__input__math-field { 
    max-width: 90px;
  }
  .QContainer_table .quiz__default__input{
    max-width:90px;
  }

}

/**** END MEDIA QUERIES GENERALES****/


/** **/
