
math-field::part(virtual-keyboard-toggle){
  display: none;
}
math-field::part(menu-toggle){
  display: none;
}
math-field::part(keyboard-sink){
  display: flex;
  justify-content: center;
  align-items: center;
}
/* math-field::part(container){
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* math-field::part(content){
  width: 30px;
} */


:root {
  --main-min-input-width: 100px;
  --main-max-input-width: 300px
}


.quiz{
/* background-color: #3694d7; */
width: 90%;
margin: auto;

}

body{
  font-family: 'Nunito', sans-serif;
font-size: larger;
}

.default--input {
  height: 50px;
  border-radius: 8px;
  /* padding: 0 20px; */
  border: solid 2px gray;
  outline: none;
  min-width: var(--main-min-input-width);
  max-width: var(--main-max-input-width);
  width: 100%;
  display: block;
  margin: 0 auto;
}

.default--input math-field{
  min-width: var(--main-min-input-width);
  max-width: var(--main-max-input-width);
  width: 100%;
}




.pregunta{
  min-width: 200px !important;
  max-width:520px !important;
  width: 100% !important;
  outline: 0.2rem solid rgb(228, 226, 226) ;
  border-radius: 1rem;
}


.pregunta label{
  display:block
}

.QuestionElement{
  margin:1em
}


@-webkit-keyframes scale-up-br {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@keyframes scale-up-br {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;

    


  }
}

.success{
	-webkit-animation: scale-up-br 0.4s linear 2 alternate both;
	animation: scale-up-br 0.4s linear 2 alternate both;
  border: 0.3em solid #7ac70c;
  transition: border 1s ;

}
.incorect{
	-webkit-animation: scale-up-br 0.4s linear 2 alternate both;
	animation: scale-up-br 0.4s linear 2 alternate both;
  border: 0.3em solid #c7280c;
  transition: border 1s ;

}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-2 1:49:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.tarjeta{
 
  display:flex;
  flex-direction:column;
  justify-content:space-between;


  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
}
.titulo{
  font-weight: bold;

  font-size: 24px;
  padding: 10px 10px 0 10px;;
}
.cuerpo{
  font-weight: normal;

  padding: 10px;
}
.pie{
 
background: #ffffff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;

}
.pie a{
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}

.botones{
  display: flex;
  justify-content: space-around;
}

.boton{
  min-width: 15px;
  width: fit-content;
}


.boton.boton-verde{
  width: 40%;
  text-align: center;
  border:2px solid #7ac70c;
  border-bottom-width: 6px;
  border-radius:10px;
  padding:10px 25px;
  background-color:#8ee000;
  color:#fff;
  font-size: 100%;
  cursor:pointer;
  outline: none;
  transition:.07s;
}

.boton.boton-rojo{
  border:2px solid #d13c3c;
  border-bottom-width: 6px;
  border-radius:10px;
  padding:10px 25px;
  background-color:#FC4848;
  color:#fff;
  font-size: 100%;
  cursor:pointer;
  outline: none;
  transition:.07s;
}
.boton:active{
    border-bottom-width: 2px;
    margin-top: 4px;
}

.dropdown-el {
   margin-bottom: 3vh; 
  min-width: 12em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  top: 0.5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: 0.06em solid transparent;
  border-radius: 1em;
  background-color: #cde4f5;
  transition: 0.3s all ease-in-out;
}
.dropdown-el input:focus + label {
  background: #def;
}
.dropdown-el input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
.dropdown-el label {
  border-top: 0.06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: 0.06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #3694d7;
  border-color: #3694d7 transparent transparent transparent;
  transition: 0.4s all ease-in-out;
}
.dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: 0.25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}
.dropdown-el.expanded label {
  border-top: 0.06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
  color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
  color: #3694d7;
}
.dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: 0.55em;
}
.tableType{
  display: flex;
  justify-content: center;
  margin: 2em;
}
table {
  outline-color: rgb(228, 226, 226) ;
  margin: 10px;
  outline-width: 1px;
  outline-style:auto;

  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 10px ;
  overflow: hidden;

  list-style-type: none;
  

}

table th, td {
/* border: 1px solid black; */
margin: 0;
padding: 0px;

  /* border-width:1px black; */
  /* padding: 10px; */
  /* margin: 0; */
}

th {
  /* background-color: blue;
  color: black; */
  text-align: left;
  padding: 15px;
}

td {
  /* background-color: white;
  color: black; */
  /* background-color: #3694d7; */
min-width: 90px !;
max-width: 300px;
width: fit-content;
  padding: 10px;
  /* overflow: hidden; */

}
.setOfNodes{
  display: flex;
  width: min-content;
}
.inlineDisplay{

  display: flex; 
  flex-wrap: wrap;
  white-space: nowrap;
/* text-align:center; */
}
.inlineDisplay input{
  width: 40px;
}
/* span{
  
} */

.inlineDisplay--input{
  max-width: 100% !important;
  width: 90% !important ;
}


.input--simple{

  min-width: 8px;
  /* max-width: 200px; */
  width:100%;

}